<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Money</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <style>
        
    </style>
</head>
<body>
<div id="main-container">
        <div class="img1"></div>

        <div class="container">
            <h1 class="gold">Your Gold: {{request.session.gold}} </h1>
            <form class="newgame_form" action="/newgame">
                <input class="newgame" type="submit" name="restart" value="New Game">
            </form>
    
            <div class="col">
                <label><b>Farm</b></label>
                <p>(earns 10-20 gold)</p>
                <form action="/process", method="POST">
                    {% csrf_token %}
                    <input type="hidden" class="newgold">
                    <input class="button" type="submit", name="farm", value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <label><b>Cave</b></label>
                <p>(earns 5-10 gold)</p>
                <form action="/process", method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="newgold">
                    <input class="button" type="submit", name="cave", value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <label><b>House</b></label>
                <p style="margin-left: 23%;">(earns 2-5 gold)</p>
                <form action="/process", method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="newgold">
                    <input class="button" type="submit", name="house", value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <label><b>Casino</b></label>
                <p style="margin-left: 15%;">(earns/takes 0-50 gold)</p>
                <form action="/process", method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="newgold">
                    <input class="button" type="submit", name="casino", value="Find Gold!">
                </form>
            </div>
            <p class="active"><strong>Activities:</strong></p>
            <div class="text"
            {{request.session.text|safe}}
            </div>
        </div>
</div>


   
</body>
</html>